<section class="list bg-dark">
   <table id="customers">
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        {{#each list}}
           <tr>
              <td>{{comapany}}</td>
              <td>{{Contact}}</td>
              <td>{{Country}}</td>
           </tr>
        {{/each}}
</table>

</section>

