    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">
          <a href="#" class="navbar-brand"><strong>{{title}}</strong></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="/" class="nav-link text-light">{{navOne}}</a>
                  </li>
                  <li class="nav-item">
                    <a href="/table" class="nav-link text-light">{{navTwo}}</a>
                  </li>
                  <li class="nav-item">
                    <a href="/card" class="nav-link text-light">{{navThree}}</a>
                  </li>
              </ul>
          </div>
        </div>
    </nav>
    
    <!-- Home section -->
    
    <header id="home-section">
       <div class="dark-overlay">
          <div class="home-inner container">
              <div class="row">
                  <div class="col-lg-8 d-none d-lg-block">
                      <h1 class="display-4">
                         <strong>Beispiel-Webseite mit NodeJS, Express, Bootstrap und Handelbars </strong>
                      </h1>
                      <div class="d-flex">

                         <div class="p-4 align-self-end">
                           Die Webseiten werden Serverseitig gerendered
                         </div>
                      </div>
                      <div class="d-flex">

                        <div class="p-4 align-self-end">
                          NodeJS und Express übernehmen die Funktion des Webservers (Request / Response)
                        </div>
                      </div>
                      <div class="d-flex">

                     <div class="p-4 align-self-end">
                          Das Styling basiert auf Bootstrap
                        </div>
                      </div>
                      <div class="d-flex">

                        <div class="p-4 align-self-end">
                          Handelbars ermöglicht es dynamische Daten mit den HTML-Seiten zu verknüpfen.
                        </div>
                      </div>
                  </div>

                  
              </div>
          </div>
       </div>
    </header>

<!-- footer -->

<footer id="footer-main" class="bg-dark">
   <div class="container">
     <div class="row">
        <div class="col text-center py-4">
           <h3>
             Handelbars: Eine auf dem Server gerenderte Webseite
           </h3>
        </div>
     </div>
   </div>
</footer>

</div>